.screen.game {
  padding: 0;
  overflow: hidden;
}
.game-arena {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--tomb);
  position: relative;
}
.playground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/images/frames/game-framer.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.game-canvas-container {
  position: absolute;
  top: 18%;
  left: 10.5%;
  right: 10.3%;
  bottom: 18.8%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}
.game-canvas-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}
