.home {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: url("../../assets/images/frames/Gemini_Generated_Image_guqqnxguqqnxguqq (1).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.home .buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-2xl);
  gap: var(--spacing-lg);
}

.home .buttons .menu-btn {
  width: 13rem;
  height: 6.5rem;
}
