.lose-screen.active,
.win-screen.active {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: row;
  justify-content: space-evenly;
}
.lose-screen {
  background-image: url("../../assets/images/frames/game-over-screen.png");
}
.win-screen {
  background-image: url("../../assets/images/frames/victory-screen.png");
}
